.how-to-bridge-section {
    text-align: center;
    margin-top: -135px;
    padding: 140px 0 80px;
    position: relative;
    overflow: hidden;
    border-bottom: 4px solid #000;

    .how-to-bridge-block {
        padding-top: 10px;
        position: relative;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: -2;
        background-image: url('/images/slider_bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 78%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .slider-container::before,
    .slider-container::after {
        content: "";
        position: absolute;
        background-image: url('/images/side_cloud.png');
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        width: 250px;
        height: 250px;
        margin: auto;
        position: absolute;
        top: -100px;
        left: -260px;
        animation: floaty 3s ease-in-out infinite;
    }

    .slider-container::after {
        left: auto;
        right: -250px;
        top: unset;
        bottom: 0;
    }

    .bridge-header {
        &::before {
            content: "";
            position: absolute;
            background-image: url('/images/cloud_1.png');
            background-position: top;
            background-size: contain;
            width: 60%;
            height: 60%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            background-repeat: no-repeat;
            z-index: -1;
        }

        .section-title span {
            font-size: 48px;
            position: relative;
            bottom: 15px;
        }

        .download-wallet {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-family: Acme;
            cursor: pointer;

            img {
                width: 58px;
                margin-right: 30px;
            }
        }

        .download-stores {
            display: flex;
            justify-content: center;
            gap: 75px;
            margin: 25px 0;

        }


    }

    button {
        background: #F7C236;
        border: 2px solid #000;
        color: #000;
        font-family: Inria Sans;
        font-size: 32px;
        font-weight: 400;
        padding: 10px 25px;
        border-radius: 20px;
        min-width: 208px;
        cursor: pointer;
        text-align: center;
        transition: all 0.2s ease;
        box-shadow: 0px 4px 4px 0px #00000094;

        &.btn-prev {
            position: absolute;
            top: 45%;
            left: 135px;
        }

        &.btn-next {
            position: absolute;
            top: 45%;
            right: 135px;
        }
    }

}

.how-to-bridge-section .slide-text {
    width: 100%;
    font-family: Acme;
    font-size: 32px;
    font-weight: 400;
    padding: 25px 2px;
    background-color: #FFE88F;
    border: 3px solid #000;
    padding: 25px;
    border-radius: 15px;
}

.slider-container {
    background: #FFC200;
    border: 5px solid #000;
    border-radius: 33px;
    max-width: 1216px;
    margin: 0 auto;
    padding: 50px;
    position: relative;

    .slider-container-inner {
        background-color: #FDF6DA;
        border: 5px solid #000;
        border-radius: 33px;
        padding: 42px;

        .slider-step {
            display: flex;
            flex-direction: column;
            align-items: center;
        }



        .slider-content {
            width: 722px;
            margin: auto;

            .slider-image-box {
                background-color: #FFE88C;
                border: 3px solid #000;
                border-radius: 20px;
                width: 100%;
                padding: 39px 0 28px;
                min-height: 700px;
            }


        }


    }
}



.slider-container .slider-step img {
    max-width: 320px;
    margin: 0 auto;
    display: block;
}

.slider-container p {
    margin-top: 20px;
    background: #fff3bf;
    border: 2px solid #f2b705;
    color: #3b2200;
    font-weight: 600;
    font-size: 16px;
    border-radius: 12px;
    padding: 10px;
    box-shadow: inset 0 0 10px #ffe380;
}



.slider-container button:hover {
    background: #ffb700;
    transform: scale(1.05);
}


.character-left {
    position: absolute;
    bottom: -30px;
    left: -140px;
    width: 400px;
    animation: floaty 3s ease-in-out infinite;
}

.character-right {
    position: absolute;
    right: -185px;
    top: 5%;
    transform: translateY(-50%);
    width: 400px;
    animation: floaty 3s ease-in-out infinite;
}

.how-to-bridge-section-desktop {
    margin-top: 35px;

    .bridge-header::before {
        top: 0;
    }

    .slider-container {
        .slider-step img {
            max-width: calc(100% - 22px);
        }

        .slider-container-inner {
            .slider-buttons {
                width: 85%;
                display: flex;
                justify-content: space-between;
                margin: 38px auto 18px;
            }

            button.btn-next,
            button.btn-prev {
                position: static;
            }

            .slider-image-box {
                min-height: 400px;
            }
        }
    }
}