.rotating-strip-wrapper {
  margin-top: 175px;
  position: relative;
  width: 104%;
  left: -2%;

  .rotating-strip-container {
    background: #f9f393;
    padding: 27px 0;
    position: relative;
    overflow: hidden;
    transform: rotate(-7.5deg);
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    box-shadow: 0px 4px 37.9px 8px #000000A8;

    .rotating-strip {
      display: flex;
      width: max-content;
      animation: scroll 20s linear infinite;
    }

    .strip-img {
      object-fit: cover;
      max-height: 132px;
      margin: 0 25px;
      box-shadow: 0px 4px 20px 1px #000000C4;
    }

    &.rotating-strip-container-reverse {
      transform: rotate(7.5deg) !important;
      position: relative;
      bottom: 195px;

      .rotating-strip {
        animation: scrollReverse 20s linear infinite;
      }
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(-50%);
    }
    
    100% {
      transform: translateX(0);
    }
  }

  @keyframes scrollReverse {
    0% {
      transform: translateX(0);
    }
    
    100% {
      transform: translateX(-50%);
    }
  }
}