* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFDA47;
  color: #2d2d2d;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.mobile {
  display: none;
}

body::before {
  content: "";
  z-index: -1;
  background: url('/images/side_bg_1.png');
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  min-width: 570px;
  min-height: 730px;
  background-size: cover;
}

.buy-btn {
  font-family: Inria Sans;
  font-weight: 400;
  font-size: 32px;
  min-width: 208px;
  height: 65px;
  border: 2px solid #000;
  border-radius: 20px;
  background: #F7C236;
  padding: 8px 18px;
  color: #000;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 4px 0px #00000094;
  cursor: pointer;
}

.section-title {
  font-family: Acme;
  font-weight: 400;
  font-size: 72px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #FC5500;
  text-shadow: 0px 4px 4px 0px #000000;
  white-space: nowrap;
  -webkit-text-stroke: 1px #000;
  position: relative;
  z-index: 99;
  margin-top: 100px;

  span {
    color: #FFFFFF;
  }
}

label.contract-box-label {
  width: 100%;
  display: block;
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contract-box {
  border: 3px solid #000;
  border-radius: 20px;
  padding: 7px;
  background: #FBCB0C;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 24px;

  .contract-box-text {
    padding: 15px 40px;
    background: #FDF6DA;
    border: 3px solid #000;
    border-radius: 20px;
    font-family: Acme;
    font-size: 24px;
    font-weight: 400;
  }

  span.copy-icon {
    margin-left: 32px;

    img {
      width: 24px;
      height: 24px;
      position: relative;
      top: 7px;
    }

    cursor: pointer;
  }
}

.social-icon-btn {
  cursor: pointer;
  background: #F9F393;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.1rem;
  transition: transform .2s;
  box-shadow: 4px 5px 4px 0px #000000;
  transform: rotate(3.79deg);

}

.social-icon-btn2 {
  transform: rotate(-5.79deg);
  margin-left: 12px
}

.section-two {
  border-top: 4px solid;
  border-bottom: 4px solid;
  padding: 53px 0 50px 0;
  position: relative;
  z-index: 99;
  background-color: #FDC239;
  overflow: hidden;

  &::before {
    content: "";
    background-image: url('/images/bg_1.png');
    width: 60%;
    height: 92%;
    position: absolute;
    bottom: 3%;
    left: 6%;
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &::after {
    content: "";
    z-index: -1;
    background-image: url('/images/banner_2.png');
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -8px;
    right: 5%;
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    animation: floaty 2s ease-in-out infinite;
  }


  h1 {
    text-align: center;
    margin-top: 0 !important;
  }

  .section-two-content {
    padding-left: 240px;
    margin: 65px 0 100px;

    li {
      list-style: none;
      font-family: Acme;
      font-size: 24px;
      font-weight: 400;
      margin: 22px 0;
    }
  }

  .section-two-bottom-content {
    font-family: Acme;
    font-size: 24px;
    text-align: center;
  }

}

.tokenomics-section {
  display: inline-block;
  width: 100%;
  position: relative;
  overflow: hidden;

  .footer-wave-top {
    height: 41px;
  }

  &::before {
    content: "";
    background-image: url('/images/bg_rectangle1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 95%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .tokenomics-content {
    display: flex;
    justify-content: flex-end;

    .tokenomics-left {
      width: 40%;
    }

    .tokenomics-right {
      width: 60%;
      text-align: center;

      h1 {
        text-align: center;
        margin-top: 200px;
      }

      .tokenomics-list {
        padding-left: 200px;
        text-align: left;

        li {
          font-family: Acme;
          font-size: 32px;
          list-style: none;
          margin: 20px 0;

          span {
            width: 25px;
            height: 25px;
            border: 4px solid #fff;
            display: inline-block;
            border-radius: 25px;
            background-color: #FF2A2A;
            margin-right: 20px;
          }

          .span_2 {
            background-color: #FFA82A;
          }

          .span_3 {
            background-color: #288FFD;
          }

          .span_4 {
            background-color: #00B618;
          }
        }
      }

      .tokenomics-btns {
        display: flex;
        justify-content: center;
        gap: 32px;
        margin: 25px 0 32px;
      }
    }
  }

  .tokenomics-bottom-text {
    display: flex;
    justify-content: center;
    font-family: Acme;
    font-size: 36px;
    margin-top: 22px;
    margin-bottom: 80px;
  }
}

.footer-wave-top {
  height: 29px;
  background-color: #FAEAB8;
  position: relative;
  z-index: -2;
}

.footer-wave-bottom {
  border: 5px solid #FF6002;
}

.footer-container {
  display: flex;
  align-items: center;
  position: relative;

  .footer-left {
    width: 40%;
    display: flex;
    padding-top: 40px;
  }

  .footer-right {
    text-align: center;
    width: 60%;
    display: flex;
    flex-wrap: wrap;

    .footer-right-inner {
      width: 100%;
    }

    .footer-bottom {
      position: absolute;
      bottom: 0;
      left: 40%;
      text-align: center;
      bottom: 15px;
      width: 60% !important;
    }

    .footer-title {
      font-family: Irish Grover;
      font-size: 64px;
      color: #FF6D45;
      font-weight: 400;
      -webkit-text-stroke: 1px #000;
      text-shadow: 0 8px 12.9px #00000040;
    }

    .social-icons {
      display: flex;
      gap: 45px;
      justify-content: center;
      margin: 40px 0;
    }

    .footer-bottom p {
      font-family: Acme;
      font-size: 24px;
      font-weight: 400;
    }
  }
}

@keyframes floaty {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}
.responsive-only {
  display: none;
}
 .sidebar {
      background: #FDC239;
      position: fixed;
      top: 0;
      right: -300px;
      bottom: 0;
      padding: 32px;
      z-index: 999;
      width: 300px;
      transition: 0.3s;
      &.active {
        right: 0 !important;
      }
      .close-icon img {
          position: absolute;
          right: 30px;
          width: 30px;
      }
      .sidebar-content {
        text-align: center;
        nav.sidebar-nav a {
          width: 100%;
          display: block;
          padding: 10px;
          color: #000;
          font-family: Acme;
          font-size: 18px;
        }
        .buy-btn {
          margin-top: 25px;
          display: block;
        }
      }
      .sidebar-logo {
        text-align: center;
        font-family: Acme;
        font-size: 34px;
      }
      
    }
@media (max-width: 1650px) {
  .section-title {
    font-size: 62px;
  }

  .contract-box .contract-box-text {
    border-radius: 16px;
    padding: 11px 40px;
    font-size: 20px;
  }

  .hero {
    .hero-left {
      padding-left: 8%;
    }

    .hero-right {
      left: 40px;

      &:before {
        right: -29%;
        top: 75px;
      }
    }

    .steps {
      margin-top: -100px;
    }

    .token-stats {
      margin-top: 30px;

      .stat-box {
        padding: 10px 18px;
        font-size: 20px;
      }
    }

    .social-icon-btn img {
      width: 38px;
      height: 38px;
    }
  }

  .tokenomics-section {
    &:before {
      width: 98%;
    }

    .tokenomics-content .tokenomics-right {
      h1 {
        margin-top: 132px;
      }

      .tokenomics-list {
        padding-left: 140px;

        li {
          margin: 12px 0;
          font-size: 24px;
        }
      }
    }

    .tokenomics-bottom-text {
      margin-top: 7px;
      margin-bottom: 80px;
      font-family: Acme;
      font-size: 27px;
    }
  }
}

@media (max-width: 1460px) {
  .buy-btn {
    min-width: 165px;
  }
  .section-title {
    font-size: 50px;
    margin-top: 70px;
  }

  .contract-box .contract-box-text {
    border-radius: 11px;
    padding: 8px 20px;
    font-size: 20px;
  }

  .header-container .header-inner .logo {
    font-size: 48px;
  }

  .hero {
    .hero-left {
      padding-left: 5%;
    }

    .hero-right:before {
      top: 0;
      right: -38%;
      width: 1100px;
      height: 1100px;
    }

    .steps {
      margin-top: -70px;
      gap: 45px;

      .step-box {
        width: 345px;
        height: 155px;
        padding: 25px;
        font-size: 20px;
      }
    }
  }

  .rotating-strip-wrapper .rotating-strip-container {
    padding: 20px 0;

    img.strip-img {
      max-height: 115px;
      margin: 0 15px;
    }
  }

  .section-two {
    .section-two-content {
      margin: 50px 0 75px;
      padding-left: 100px;
    }

    &:after {
      right: -2%;
      width: 650px;
    }

    &:before {
      left: -5%;
      width: 650px;
    }
  }

  .tokenomics-section .tokenomics-content .tokenomics-right h1 {
    margin-top: 60px;
  }

  .buy-btn {
    height: auto;
    padding: 8px 18px;
    font-size: 25px;
  }

  .how-to-bridge-section {
    .slider-container {
      max-width: 990px;
    }
  }

  .tokenomics-section {
    &:before {
      top: 12px;
    }

    .tokenomics-content .tokenomics-right {
      span {
        width: 18px;
        height: 18px;
        margin-right: 16px;
      }

      .tokenomics-list {
        padding-left: 120px;
      }

      .tokenomics-list li {
        margin: 10px 0;
        font-size: 21px;
      }
    }

    .tokenomics-bottom-text {
      font-size: 21px;
    }

    .contract-box {
      margin-bottom: 18px;
    }
  }

  .how-to-bridge-section {
    .bridge-header .section-title span {
      bottom: 0px !important;
      margin-top: 5px;
    }

    .download-wallet {
      margin-top: 10px;
    }
  }

  .slider-container .slider-container-inner {
    .slider-content .slider-image-box {
      border-radius: 14px;
      min-height: 650px;
      padding: 15px 0 20px;
    }

    button {
      &.btn-next {
        right: 45px;
      }

      &.btn-prev {
        left: 45px;
      }
    }

    .character-right {
      right: -125px;
    }

    .character-left {
      bottom: 170px;
    }

    .slider-content {
      .slide-text {
        font-size: 26px;
      }
    }
  }

  #bridge-desktop .slider-container {
    padding: 0;
    border: 0;

    .slider-container-inner {
      padding: 0;
      border-radius: 20px;
      border: 3px solid #000
    }

    .slider-content {
      width: 100%;
    }

    .slider-image-box {
      min-height: auto;
      padding: 15px;

      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .community-timeline-section .community-timeline-content {
    .community-header {
      padding: 0 10px;

      p {
        font-size: 22px;
        padding: 0;
      }

      .section-title {
        margin-top: 0;
        font-size: 40px;
      }
    }

    .community-timeline-content-right {
      padding: 20px;
      width: 100%;
      margin-left: 0%;

      .mascot-card {
        min-width: 360px;
      }
    }
  }

  .footer-left img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .section-title {
    text-align: center;
    font-size: 50px;
  }

  .buy-btn {
    min-width: 150px;
  }

  body:before {
    display: none;
  }

  .hero-right,
  .steps {
    display: none !important;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none !important;
  }

  .mobile-banner {
    display: block;
    max-width: 680px;
    margin: auto auto -40px auto;

    &::before {
      content: "";
      z-index: -1;
      transform-origin: center;
      background-image: url('/images/side_bg_2_1.png');
      background-size: cover;
      width: 950px;
      height: 950px;
      animation: 40s linear infinite rotateBG;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
    }
  }

  .hero-section-container {
    margin-bottom: -45px;
  }

  .hero {
    margin-top: 120px;

    .hero-buttons {
      justify-content: center;
    }

    .token-stats {
      align-items: center;
    }

    .hero-left {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }

  .rotating-strip-wrapper {
    margin-top: 90px;

    .rotating-strip-container {
      &.rotating-strip-container-reverse {
        bottom: 150px;

        img.strip-img {
          max-height: 100px;
          margin: 0 10px;
        }
      }
    }
  }

  .section-two {
    &:before {
      width: 570px;
      left: -25%;
      bottom: 12%;
    }

    &:after {
      width: 520px;
      right: -4%;
    }

    .section-two-content {
      padding-left: 20px;
    }
  }

  .tokenomics-section {
    &:before {
      background-image: url('/images/mob_banner_3.png');
      width: 100%;
      top: 0;
    }

    .tokenomics-content .tokenomics-right {
      width: 100%;
    }

    .tokenomics-content .tokenomics-right .tokenomics-btns {
      display: none;
    }

    .footer-wave-top {
      height: 28px;
    }
  }

  .how-to-bridge-section {
    .slider-container {
      max-width: 98%;
      padding: 35px 19px 65px;
      border-radius: 23px;

      .slider-container-inner {
        .slider-content {
              width: 600px;
        }
        .character-left {
          bottom: 70px;
          width: 310px;
          left: -80px;
        }

        .character-right {
          right: -65px;
          top: -60px;
          width: 300px;
        }

        .btn-prev,
        .btn-next {
          bottom: 8px;
          top: unset;
          font-size: 25px;
          min-width: 150px;
          padding: 7px 15px;
          border-radius: 12px;
        }
      }
    }
  }

  .how-to-bridge-section-desktop {
    .section-title {
      margin-bottom: 25px;
    }

    .slide-text {
      font-size: 24px;
    }

    .slider-buttons {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 0 20px;
    }

    button.btn-prev,
    button.btn-next {
      position: static;
      min-width: 130px;
      font-size: 22px;
      border-radius: 12px;
    }

    .slider-container .slider-container-inner {
        
      .character-left,
      .character-right {
        bottom: -80px;
        top: unset;
      }
    }

    .slider-step-text {
      margin-top: 100px;
    }
  }

  ul.tokenomics-list {
    margin: 35px 0 35px;
  }

  p.slide-text.mobile {
    max-width: 80%;
    margin: 20px auto;
    border-radius: 15px;
    font-size: 26px;
  }

  .community-timeline-section {
    .community-timeline-content {
      background-image: url('/images/mob_timeline_bg.png');
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
      padding-bottom: 600px;
    }

    .community-header {
      p {
        display: none;
      }
    }

    .mascot-section {
      flex-wrap: wrap;

      .mascot-card .text-box {
        font-size: 18px;
      }

      .slider-step {
        width: calc(100%/2 - 22px);
      }
    }

  }

  .footer-section {
position: relative;
    overflow: hidden;

    .footer-container {
      padding-top: 30px;
      flex-direction: column-reverse;

      .footer-title {
        font-size: 54px;
      }

    }

    .footer-wave-top {
      height: auto;

      p {
        font-family: Acme;
        font-size: 15px;
        text-align: center;
        padding: 5px
      }
    }
    

    &:before {
      content: "";
      z-index: -2;
      transform-origin: center;
      background-image: url(/images/side_bg_2_1.png);
      background-size: cover;
      width: 100%;
      height: 150%;
      animation: 40s linear infinite rotateBG;
      position: absolute;
      left: unset;
      right: 0;
      margin: auto;
      top: 25%;
      background-position: center;
    }
  
  }
}

@media (max-width: 768px) {
  .responsive-only {
    display: block;
  }
  .section-title {
    font-size: 35px;
    margin-top: 40px;
  }

  .header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: static;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

    .mobile-social-icons {
      display: block;
    }

    .header-inner {
      width: calc(100% - 150px);
      height: auto;
      padding: 7px 22px;

      .logo {
        font-size: 32px;
      }

      .nav-links {
        display: none;
      }

      .buy-btn {
        display: none;
      }

      .social-icon-btn {
        display: inline-flex;
        align-items: center;
        margin: 0 10px;
        border-radius: 10px;
        transform: none
      }
    }

   
  }

  label.contract-box-label {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .contract-box {

    .contract-box-text {
      font-size: 15px;
    }

    span.copy-icon img {
      width: 18px;
      height: 18px;
      position: relative;
      top: 5px;
    }
  }

  .hero {
    margin-top: 0;

    .mobile-banner:before {
      left: -50px;
      width: 800px;
      height: 800px;
    }
  }

  .section-two {
    &::after {
      width: 470px;
      right: -6%;
    }

    &:before {
      width: 500px;
      bottom: 4%;
      left: -35%;
    }

    .section-two-content li {
      font-size: 20px;
      margin: 10px 0;
      max-width: 70%;
    }
  }

  .tokenomics-section {
    .tokenomics-content .tokenomics-right {
      h1 {
        margin-top: 45px;
      }

      .tokenomics-list {
        margin: 10px 0;
        padding-left: 40px;
      }
    }

    .tokenomics-bottom-text {
      font-size: 12px;
    }


  }

  .how-to-bridge-section {
    padding: 100px 0 40px;

    .bridge-header {
      .section-title span {
        font-size: 35px;
      }

      .download-wallet img {
        width: 38px;
        margin-right: 15px;
      }
    }

    .download-stores {
      align-items: center;

      img {
        max-width: 150px;
      }
    }

    .slider-content {
      width: auto !important;
    }

    .slider-container .slider-container-inner {
      border: 2px solid #000;
      border-radius: 23px;
      padding: 10px 20px;

      .character-right,
      .character-left {
        width: 250px;
      }
    }

    p.slide-text.mobile {
      border-radius: 15px;
      max-width: 80%;
      margin: 15px auto;
      font-size: 18px;
      padding: 15px;
    }

    .slide-text {
      font-size: 16px;
      padding: 15px;
    }
  }

  .community-timeline-section {
    .community-timeline-content .community-header .section-title {
      font-size: 35px;
    }

    .mascot-section {
      gap: 20px;

      .slider-step {
        width: 100%;
      }

      .mascot-card .tweet-box {
        margin-bottom: 25px;
      }
    }

    .community-timeline-content {
      padding-bottom: 490px;
    }
  }

  .footer-container .footer-left {
    width: 400px;
  }

  
}